@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

/* PROJECT */

body {
	background-color: var(--bright-orange);
}

h1 {
	font-family: "Big Shoulders Display", cursive;
}
p {
	font-family: "Lexend Deca", sans-serif;
}
